@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");

body {
    padding: 0;
    margin: 0;
    color: #ffffff;
    font-family: 'amatic sc', sans-serif;
}

/*HEADER*/

.header_wrapper {
    height: 100vh;
    width: 100%;
    background: linear-gradient(-65deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    animation: backgroundTransition 10s ease-in-out infinite;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 4px;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
}

.social_media {
    margin-top: 1rem;
    display: flex;
}

.social_media a {
    text-decoration: none;
    color: #ffffff;
    font-size: 24px;
    padding: 1rem 4rem;
    border: 1px solid #ffffff;
    min-width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s cubic-bezier(0.55, 0.025, 0.675, 0.97);
}

a:hover {
    color: #2e1c2b;
    background-color: #ffffff;
}

@keyframes backgroundTransition {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/*MEUNU HAMBURGUER*/

.checkbox_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 9999;
    transition: 400ms ease-in-out 0s;
}

.checkbox .trace {
    width: 50px;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
}

.checkbox .trace:nth-child(1) {
    top: 26px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(2) {
    top: 46px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(3) {
    top: 66px;
    transform: rotate(0);
}

#toggle {
    display: none;
}

/*MENU*/

.menu {
    position: absolute;
    top: 28px;
    right: 30px;
    background: transparent;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 0px #ffffff;
    z-index: -1;
    transition: 400ms ease-in-out 0s;
}

.menu_items {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 400ms ease-in-out 0s;
}

.menu_items ul {
    list-style-type: none;
}

.menu_items ul li a {
    margin: 10px 0;
    color: #23d5ab;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 40px;
}

/*ANIMAÇÃO DO MENU*/

#toggle:checked+.checkbox .trace:nth-child(1) {
    transform: rotate(45deg);
    background-color: #23d5ab;
    top: 47px;
}

#toggle:checked+.checkbox .trace:nth-child(2) {
    transform: translateX(-100px);
    width: 30px;
    visibility: hidden;
    opacity: 0;
}

#toggle:checked+.checkbox .trace:nth-child(3) {
    transform: rotate(-45deg);
    background-color: #23d5ab;
    top: 48px;
}

#toggle:checked+.checkbox {
    background-color: white;
}

#toggle:checked~.menu {
    box-shadow: 0px 0px 0px 100vmax white;
    z-index: 1;
}

#toggle:checked~.menu_items {
    visibility: visible;
    opacity: 1;
}

/*CARDS*/

.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 0;
}

.card_container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
}

.card {
    height: 300px;
    width: 400px;
    margin: 3rem 0 0;
    background-image: url(background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(0.5);
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s;
}

.card_text {
    width: 40%;
    font-family: sans-serif;
    letter-spacing: 1px;
    color: rgb(109, 109, 109);
}

.card_wrapper::before {
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    display: block;
    border: 1px solid #ffffff;
    opacity: 0;
    transition: 0.3s;
}

.card_wrapper h2 {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    transition: 0.3s;
}

.card_wrapper p {
    font-size: 0;
    visibility: hidden;
    opacity: 0;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s;
}

.card:hover {
    filter: unset;
}

.card:hover>.card_wrapper::before {
    opacity: 1;
    width: 350px;
    height: 250px;
}

/*FOOTER*/

.footer {
    height: 100px;
    width: 100%;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #23d5ab;
}

/*RESPOSIVO*/

@media(max-width: 800px) {
    .social_media {
        display: flex;
        flex-direction: column;
    }

    .container {
        margin-top: 0;
    }

    .card_container {
        flex-direction: column;
    }

    .container .card_container:nth-child(1),
    .container .card_container:nth-child(3) {
        flex-direction: column-reverse;
    }

    .card {
        height: 250px;
        width: 250px;
    }

    .card_text {
        width: 90%;
        margin-top: 2rem;
        text-align: center;
    }

    .card:hover>.card_wrapper::before {
        height: 190px;
        width: 190px;
    }
}